.card {
  width: 220px;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 15px;
  background: white;
  border-radius: 5px;
  height: 412px;
}

.card a {
  text-decoration: none;
}

.card svg {
  display: block;
  fill: gray;
  position: absolute;
  margin: 6px 0px 0 190px;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card svg:hover {
  cursor: pointer;
  fill: #f65261;
  background-color: gray;
  border-radius: 50%;
}

.card img {
  width: 220px;
  height: 290px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 20px;
  color: #212;
}

.title a:hover {
  color: #f65261;
}

.title span {
  height: 21px;
}

.types {
  display: flex;
  flex-wrap: wrap;
}

.types a {
  color:black;
  margin-right: 5px;
  font-size: 14px;
}

.types a:hover {
  text-decoration: underline;
}